.search-bar {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-family: Arial, sans-serif;
}

label {
    font-size: 17px; 
    color: #636363;
}

.input-wrapper {
    position: relative;
    width: 70%;  
}

.input-wrapper input {
    width: 100%;
    padding: 8px 12px 8px 36px; /* leave space for icon */
    border: 2px solid #bbb;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}

.input-wrapper input:focus {
    border-color: #381fd1;
}

/* Icon inside input */
.input-wrapper .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%); /* vertically center */
    height: 60%; /* 80% of input height */
    width: auto; /* maintain aspect ratio */
    pointer-events: none; /* so clicks go to input */
}

img
{
    color: #bbb;
}
